/* 전체 컨테이너 */
.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

/* 이미지 스타일 */
.Info_image {
    display: flex;
    justify-content: center;
    margin-top: 33px; /* 다시 수정해야함!! */
}

/* 반응형 (이미지 스타일) */
@media (max-width: 360px) {
    .Info_image {
        margin-top: 9px;
    }
}

/* 이미지 크기 */
.Info_image img {
    width: 100%;
    height: auto;
    max-width: 1168px;
}

/* 반응형 (이미지 크기) */
@media (max-width: 360px) {
    .Info_image img {
        width: 319px;
        height: 63px;
    }
}

/* 입력 폼 */
.Info_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 873px;
    width: 100%;
    gap: 17px;
    justify-items: center;
    margin-top: 25px;
    margin-bottom: 80px;
}

/* 반응형 (입력 폼) */
@media (max-width: 480px) {
    .Info_form {
        grid-template-columns: 1fr;
        /* 1열로 변경 */
        margin-top: 5px;
        gap: 9px;
        margin-bottom: 39px;
    }
}

/* 입력 필드, 라벨 정렬 */
.Info_form div {
    display: flex;
    flex-direction: column;
}

/* 라벨 */
.Info_form label {
    font-size: 24px;
    font-weight: bold;
    font: #444444;
    margin-bottom: 16px;
    /* label 아래쪽 마진 추가 */
}

@media(max-width: 360px) {
    .Info_form label {
        font-size: 16px;
        margin-bottom: 4px;
        margin-left: 5px;
    }
}

/* 공통 입력 필드 */
.Info_form input,
.react-datepicker__input-container input,
.Info_form select {
    width: 401px;
    height: 59px;
    padding: 10px;
    border: 1px solid #8E8E93;
    border-radius: 8px;
    font-size: 16px;
    color: #8E8E93;
    box-sizing: border-box;
    background-color: white;
    color: black;
    appearance: none;
    /* 기본 스타일 제거 */
}

/* 반응형 (공통 입력 필드) */
@media (max-width: 360px) {

    .Info_form input,
    .react-datepicker__input-container input,
    .Info_form select {
        width: 263px;
        height: 42px;
        font-size: 12px;
    }
}

/* 드롭다운 화살표 아이콘 */
.Info_form select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'><path fill='gray' d='M12 15.5l6-6H6l6 6z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
}


/* 입력 필드 포커스 */
.Info_form input:focus,
.react-datepicker__input-container input:focus,
.Info_form select:focus {
    border-color: #B9D889;
    outline: none;
}

/* DatePicker */
.react-datepicker-wrapper {
    width: 100%;
}


.Info_button {
    display: flex;
    justify-content: center;
}

.Info_button button {
    width: 484px;
    height: 57px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9C9C9C;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* 반응형 (버튼 스타일) */
@media(max-width: 360px) {
    .Info_button button {
        width: 280px;
        height: 41px;
        font-size: 16px;
    }
}

.Info_button button:hover {
    background-color: #B9D889;
    color: #444444;
}