/* 전체 컨테이너 */
.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: white;
    /* border: 1px solid black; */
}

/* 이미지 컨테이너 스타일 */
.Landing_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 100%;
}

/* 이미지 크기 */
.Landing_img img {
    width: 50%; 
    max-width: 742px; 
    min-width: 230px; 
    height: auto;
}

/* 반응형 (태블릿) */
/* @media (max-width: 768px) { 
    .Landing_img img {
        width: 70%; 
        max-width: 400px;
    }
} */

/* 반응형 (모바일) */
@media (max-width: 360px) {  
    .Landing_img {
        margin-top: 181px;  
    }
    .Landing_img img { 
        width: 279px; 
        height: auto;
    }
}
/* 버튼 스타일 */
.Button {
    display: flex;
    justify-content: center;
    gap: 20px; /* 버튼 간격 조정 */
    margin-top: 20px;
}

/* 반응형 (버튼 스타일)*/
@media (max-width: 360px) {
    .Button {
        display: grid;
        flex-direction: column;
        justify-content: center;
    }
}

/* 기본 버튼 스타일 */
.Button button {
    width: 253px;
    height: 57px;
    margin-top: 113px; /* 모든 화면에서 적용 */
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    cursor: pointer;
}

/* 모바일 버튼 스타일 */
@media (max-width: 360px) {
    .Button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px; /* 버튼 간의 간격 조정 */
        margin-top: 169px; 
    }
    .Button button {
        width: 147px; 
        height: 54px; 
        margin-top: 0; /* 개별 버튼의 상단 여백 제거 */
        font-size: 16px;
    }
}

/* 시작하기 버튼 */
.StartButton{
    background-color: #B9D889;
}

/* 공유하기 버튼 */
.ShareButton{
    background-color: #DAE199;
}

/* 버튼 효과 */
.Button button:hover {
   border: #444444;
}
